server/.idea
server/build_debug
server/build_release
server/bin

client/.idea
client/build_debug
client/build_release
client/bin

server/build
client/build

CMakeCache.txt

TODO.md

# 服务端配置文件含数据库账号密码，不要提交
server/config.json
config.json
